<button type='button' id='burgerButton' class='header__burger burger-btn' aria-label='burger-menu show button'>
  <svg width="31" height="20" viewBox="0 0 31 20" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path class='path-line-bg' d="M1 1.8999H29.8M1 9.9999H29.8M1 18.0999H29.8" stroke="#7ED23C" stroke-width="3" />
    <path class='path-top' d="M29.8 2.8H1V1H29.8V2.8Z" stroke="black" />
    <path class='path-center' d="M1 10.9001V9.1001H29.8V10.9001H1Z" stroke="black" />
    <path class='path-bottom' d="M29.6586 17.2002H1V19.0002H29.6586V17.2002Z" stroke="black" />
  </svg>
</button>

<nav class='burger-menu'>
  <ul>
    <li>
      <a class='active' target='_blank' rel='noopener' href='index.html'>
        Меню
      </a>
    </li>
    <li>
      <a class='' target='_blank' rel='noopener' href='#'>
        Аксессуары
      </a>
    </li>
    <li>
      <a class='' target='_blank' rel='noopener' href='#'>
        Конфигуратор
      </a>
    </li>
    <li>
      <a class='' target='_blank' rel='noopener' href='#'>
        Поддержка
      </a>
    </li>
    <li class='burger-menu__fs-element'>
      <a class='button-with-icon' target='_blank' rel='noopener' href='#'>
        Избранное
      </a>
    </li>
    <li class='burger-menu__fs-element'>
      <button data-open-modal-id='cart' class='button-with-icon' type='button'>
        Корзина
      </button>
    </li>
    <li>
      <div class='current-money'>
        1500 ₽
      </div>
    </li>
  </ul>
</nav>